<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pirate">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="jack pirate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--全面屏适配-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <!--启动页面-->
        <activity android:name=".activity.home.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home.HomeActivity"/>
        <activity
            android:name=".activity.base.WebViewActivity"/>
    </application>

</manifest>